
@import 'font'


body
    box-sizing: border-box

.header-navbar
    height: 80px
    display: flex
    justify-content: space-between

.get-started
    display: flex
    flex-direction: column
    &__stripe
        width: 120px
        height: 10px
        background-color: red
        border-radius: 5px
        background-image: linear-gradient(215deg, #029e9a 0%, #124276 100%)
    &__button
        border: none
        width: 250px
        height: 50px
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2)
        border-radius: 25px
        background-image: linear-gradient(135deg, #01a49c 0%, #133c74 100%)
        color: white